<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sistemadarko</display-name>
  
  <servlet>
  	<servlet-name>ServletLogin</servlet-name>
  	<servlet-class>com.darko.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDashboard</servlet-name>
  	<servlet-class>com.darko.servlet.ServletDashboard</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletCategoria</servlet-name>
  	<servlet-class>com.darko.servlet.ServletCategoria</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletMarca</servlet-name>
  	<servlet-class>com.darko.servlet.ServletMarca</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletModelo</servlet-name>
  	<servlet-class>com.darko.servlet.ServletModelo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletColor</servlet-name>
  	<servlet-class>com.darko.servlet.ServletColor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletTipoPago</servlet-name>
  	<servlet-class>com.darko.servlet.ServletTipoPago</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletComprobante</servlet-name>
  	<servlet-class>com.darko.servlet.ServletComprobante</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEstadoVenta</servlet-name>
  	<servlet-class>com.darko.servlet.ServletEstadoVenta</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletTalla</servlet-name>
  	<servlet-class>com.darko.servlet.ServletTalla</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletUbicacion</servlet-name>
  	<servlet-class>com.darko.servlet.ServletUbicacion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletMenu</servlet-name>
  	<servlet-class>com.darko.servlet.ServletMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletOpcionMenu</servlet-name>
  	<servlet-class>com.darko.servlet.ServletOpcionMenu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletRol</servlet-name>
  	<servlet-class>com.darko.servlet.ServletRol</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletUsuario</servlet-name>
  	<servlet-class>com.darko.servlet.ServletUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletGenerarCompra</servlet-name>
  	<servlet-class>com.darko.servlet.ServletGenerarCompra</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletProducto</servlet-name>
  	<servlet-class>com.darko.servlet.ServletProducto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletConfirmarCompra</servlet-name>
  	<servlet-class>com.darko.servlet.ServletConfirmarCompra</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletLogin</servlet-name>
  	<url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>ServletDashboard</servlet-name>
  	<url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletCategoria</servlet-name>
  	<url-pattern>/Categoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletMarca</servlet-name>
  	<url-pattern>/Marca</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletModelo</servlet-name>
  	<url-pattern>/Modelo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletColor</servlet-name>
  	<url-pattern>/Color</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletTipoPago</servlet-name>
  	<url-pattern>/TipoPago</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletComprobante</servlet-name>
  	<url-pattern>/Comprobante</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEstadoVenta</servlet-name>
  	<url-pattern>/Estado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletTalla</servlet-name>
  	<url-pattern>/Talla</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletUbicacion</servlet-name>
  	<url-pattern>/Ubicacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletMenu</servlet-name>
  	<url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletOpcionMenu</servlet-name>
  	<url-pattern>/Opcion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletRol</servlet-name>
  	<url-pattern>/Rol</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletUsuario</servlet-name>
  	<url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletGenerarCompra</servlet-name>
  	<url-pattern>/GenerarCompra</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletProducto</servlet-name>
  	<url-pattern>/Producto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConfirmarCompra</servlet-name>
  	<url-pattern>/ConfirmarCompra</url-pattern>
  </servlet-mapping>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>